*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.headerTop{
    background-color: rgb(209, 209, 209);
    padding-top: 4px;
    padding-bottom: 4px;
}
.headerTop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerSecond .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}
.headerSecond{
    padding-top: 12px;
    padding-bottom: 12px;
}
.headerSecond a{
    text-decoration: none;
    color: rgb(199, 199, 199);
}
#wishkart{
    width: 30px;
}
.headerSecondRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.menuButton{
    border: 0;
    background-color: transparent;
    color: green;
}
header{
    border: 1px solid rgb(206, 206, 206);
}
.languageSelect{
    display: none;
}
@media screen and (min-width: 768px) {
    .languageSelect{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
  }
  .languageSelect img{
    width: 16px;
  }
  .headerTop .container{
    justify-content: space-between;
  }
  }

@media screen and (min-width: 992px) {
    .menuButton{
        display: none;
    }
  }